#content
  #main-wrapper
    %h2 mein Ziel

    %fieldset.last
      %legend Hier ist Dein aktuelles Ziel:
      %table.formtable
        %tbody
          %tr
            %th
              Ziel
            %td
              = @target.title
            %td
          %tr
            %th
              Ziel-Gewicht
            %td
              = @target.value_string
            %td
          %tr
            %th
              Beschreibung
            %td
              = @target.description
            %td

          %tr
            %th
              Ziel soll erreicht sein am
            %td
              = @target.end_date.strftime("%d.%m.%Y")
            %td
              - if @target.end_date < Date.today
                Upps, Dein Ziel ist abgelaufen. Ziel archievieren um ein neues Ziel anlegen zu können?
                = link_to 'archivieren', my_archive_target_path, :confirm => 'Soll das Ziel wirklich archiviert werden?', :method => :delete

    = link_to 'aktuelles Ziel bearbeiten', edit_my_target_path(@target), :class => "btn"
    = link_to 'Ziel archivieren', my_archive_target_path, :confirm => 'Soll das Ziel wirklich archiviert werden?', :method => :delete, :class => "btn btn-warning"


    %h2 archivierte Ziele
    %ul
      - @archived_targets.each do |target|
        %li
          Ziel
          \"
          %i
            = link_to target.title, my_target_path(target)
          \"
          endete:
          = target.end_date.strftime("%d.%m.%Y")


    