- content_for :header do
  <!-- include the Tools -->
  <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
  <!-- dateinput styling -->
  <link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/tools/demos/dateinput/css/skin1.css"/>

- @weight = Weight.new if @weight.nil?

<div id="myNewWeight" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
= form_for([:my, @weight]) do |f|
  .modal-header
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    %h3#myModalLabel
      neuer Gewichtseintrag  
  .modal-body
    %p
      %fieldset.last
        %legend Aktuelles Gewicht eintragen oder bisheriges Gewicht nachtragen.
        %table.formtable
          %tbody
            %tr
              %th 
                = f.label :value_string, 'Gewicht'
              %td 
                = f.text_field :value_string, :class => "textfield"
              %td

            %tr
              %th
                = f.label :created_at, "Messdatum"
              %td
                - if @weight.created_at.nil?
                  = f.text_field :created_at, :type => "date"
                - else
                  = f.text_field :created_at, :type => "date", :readonly => true
              %td          
      <script>
      $(":date").dateinput({
      format: 'dd.mm.yyyy'    
      });
      </script>

  .modal-footer
    <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
    = f.button "Gewicht eintragen", :onClick => ("_gaq.push(['_trackEvent', 'Weight', 'New Weight', '" + @user.friendly_id + "']);"), :class => "btn btn-primary"
    
</div>
