!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "de", :lang => "de"}
  %head
    %title 
      = @title || "Gemeinsam Abnehmen"
    = stylesheet_link_tag "application"
    = #javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" #needed for dynamic user nav
    = javascript_include_tag "application", :media => "all"
    = yield :header
    = csrf_meta_tag
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    = canonical_link
    = render :partial => "/layouts/adserver_head"
  %body
    #wrap
      = render "shared/navbar"
    
      .container-fluid
        
        
        .row-fluid
          .span2
            .well.sidebar-nav
              = render '/my/shared/left_navi'       
          .span9
            .container
              = render "/shared/ads_leaderboard"
            = info_text
            = yield
          .span2
            = render "/shared/ads_large_rectangle"
      #push
    %footer
      = render "/layouts/footer"
          
    .tracking
      = render :partial => "/layouts/google_analytics"
      = yield :tracking

    = render "/layouts/feedback"        
    = render "/layouts/google_plus_one"